@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orbit&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'CookieRun-Regular';
}


.container {
	width: 100vw;
	height: 100%;
	display: flex;
}

.fix {
	height: 860px;
	position: sticky;
	top: 0;
}



.sidemenu {
	display: flex;
	flex-direction: column;
	width: 266px;
	height: 100%;
	background: #02b4a9;
	padding: 30px;
	margin: 20px 10px;
	border-radius: 20px;
	box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
}

.sidemenu a {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.sidemenu a ion-icon {
	font-size: 25px;
}

.sidemenu__header{
	display: flex;
	flex-direction: column;
	width: 218px;
	height: 56px;
	margin-bottom: 50px;
}

.logo {
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
	height: 100%;
}

.sidemenu__body{
	display:flex;
	flex-direction: column;
	flex: 1;
}


.body__detail{
	font-family: 'CookieRun-Regular';
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:10px;
	font-size: 20px;
	margin-bottom: 10px;
	padding-left:16px;
	width: 218px;
	height: 56px;
	color: white;
}

.body__detail a {
	width: 100%;
}

.body__detail:hover {
	background-color: white;
	border-radius: 28px;
}

.body__detail:hover a {
	color: #02b4a9;
}

.body__detail.active {
	background-color: #32bbb2;
	border-radius: 28px;
	box-shadow: -5px -5px 10px #02c1b4, 5px 5px 8px #029086;
}

.body__detail.active:hover {
	background-color: white;
	border-radius: 28px;
}

.sidemenu__footer{
	font-family: 'CookieRun-Regular';
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:10px;
	font-size: 20px;
	padding-left:16px;
	width: 218px;
	height: 56px;
	color: white;
}

.sidemenu__footer:hover {
	background-color: white;
	border-radius: 28px;

}

.sidemenu__footer:hover a {
	color: #02b4a9;
}

.main {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main__header{
	font-family: 'CookieRun-Regular';
	font-size: 25px;
	display:flex;
	flex-direction: row;
	margin-top: 60px;
	
}


/* WISHLIST */
.main {
	margin-top: 40px;
}

.container {
	width: 100%;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	width: 266px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.title h2 {
	font-family: 'CookieRun-Regular';
	font-size: 24px;
	text-align: center;
}

.dashboard_wrapper {
	width: 90%;
	background-color: azure;
	padding: 50px;
	border-radius: 20px;
 }

 .row {
	display: flex;
	flex-direction: row;
 }
  
  .today_summary {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 20px;
	align-items: center;
	border-radius: 20px;
	box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
  }

  .today_summary_left{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	gap: 20px;

  }
  .summary_left_detail{
	display: flex;
	flex-direction: column;
   width: 200px;
   height: 200px;
   border-radius: 20px;
   background-color: rgb(255, 226, 229);
	padding: 20px;
  }
  
  .summary_left_detail:nth-child(2){
	background-color: rgb(255, 244, 222);
  }

  .summary_left_detail:nth-child(3){
	background-color: rgb(220, 252, 231);
  }

  .summary_left_detail:nth-child(4){
	background-color:  rgb(243, 232, 255);
  }

  .name {
	display:flex;
	flex-direction: column;
	
  }

  .name p{
	font-size: 20px;
	font-family: 'CookieRun-Regular';
	margin-top: 10px;
	
	
  }

  .sales{
	font-family: 'CookieRun-Regular';
	font-size: 20px;
	flex: 1;
	color: rgb(255, 255, 255);

  }

  .book_sales{
	font-family: 'CookieRun-Regular';
	font-size: 20px;
	flex: 1;
	color: rgb(255, 255, 255);
  }
  
  .people{
	font-family: 'CookieRun-Regular';
	font-size: 20px;
	flex: 1;
	color: rgb(255, 255, 255);
  }
  
  .review{
	font-family: 'CookieRun-Regular';
	font-size: 20px;
	flex: 1;
	color: rgb(255, 255, 255);
  }
  
.sales ion-icon {
	background: rgb(250, 90, 125);
	border-radius: 100%;
	padding: 11px;
}

.book_sales ion-icon{
	background-color: #FF947A ;
	border-radius: 100%;
	padding:11px;
}

.people ion-icon{
	background-color: #3CD856;
	border-radius: 100%;
	padding:11px;
}
.review ion-icon{
	background-color: #BF83FF;
	border-radius: 100%;
	padding:11px;
  }

.name .sub_title{
	color: #425166;
	font-size: 15px;
}
 
 
  .row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 50px;
  }
  

  .category_by {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	padding: 20px;
	width: 33%;
	border-radius: 20px;
	box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
  }

  .category_by h2 {
	margin-bottom: 30px;
	text-align: center;
  }

  .week_sale {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	background-color: white;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
  }

  .week_sale h2 {
	margin-bottom: 30px;
	text-align: center;
  }

  .customer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	background-color: white;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
  }

  .customer h2 {
	margin-bottom: 30px;
	text-align: center;
  }

  .top_product {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 20px;
	width: 35%;
	border-radius: 20px;
	box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
  }


  .product_detail {
	display: flex;
	align-items: center;
  }

  .rank {
	padding-right: 20px;
  }

  .gold {
	color: #ffd700;
  }

  .sliver {
	color: #BBC6C9;
  }

  .bronze {
	color: #800000;
  }

  .product_detail img {
	width: 20%;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 15px;
  }

  .product_detail .product_title {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
  }

