@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orbit&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "CookieRun-Regular";
}

body {
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 99;
}

.header__contents {
  width: 100%;
  max-width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  margin-left: 20px;
  height: 80px;
  flex: 0.1;
  align-items: center;
}

.logo img {
  height: 60px;
}

.leftCategory {
  display: flex;
  flex-direction: row;
  flex: 0.8;
  margin-left: 70px;
  gap: 30px;
}

.leftCategory a {
  font-family: "CookieRun-Regular";
  font-weight: bold;
  transition: all 0.2s ease-out;
  height: 30px;
}

.leftCategory a:hover {
  color: #02b4a9;
  transform: translateY(-5px);
}

.rightCategory {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 20px;
}

.rightCategory .iconBtn {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}

.rightCategory .iconBtn:hover ion-icon {
  color: #02b4a9;
}

.rightCategory ion-icon {
  font-size: 28px;
}

.menuToggle.active {
  color: #02b4a9;
}

.menu {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 70px;
  bottom: 0px;
  z-index: -1;
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s, 0.5s, 0.5s;
}

.menuToggle.active ~ .menu {
  width: 240px;
  height: 70px;
  z-index: 2;
  transform: translateY(100px) translateX(-100px);
  transition-delay: 0s, 0.5s, 0.5s;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.menu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  gap: 40px;
}

.menu ul li {
  list-style: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  transform: translateY(-30px);
  transition: 0.25s;
  transition-delay: calc(0s + var(--i));
}

.menuToggle.active ~ .menu ul li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: calc(0.75s + var(--i));
}

.menu ul li a {
  display: block;
  font-size: 2em;
  text-decoration: none;
  color: #555;
}

.menu ul li:hover a {
  color: #7be1e2;
}

.searchBtn.active ion-icon {
  color: #7be1e2;
}

.searchWrap {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 70px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  transition: transform 0.5s, width 0.5s, height 0.5s;
  transition-delay: 1s, 0.5s, 0.5s;
}

.searchBtn.active ~ .searchWrap {
  width: 450px;
  height: 60px;
  z-index: -1;
  transform: translateY(100px);
  transition-delay: 0s, 0.5s, 0.5s;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.searchWrap form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.searchWrap form input,
.searchWrap form button {
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  transform: translateY(-30px);
  transition-delay: calc(0s + var(--i));
}

.searchBtn.active ~ .searchWrap form input,
.searchBtn.active ~ .searchWrap form button {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition-delay: calc(0.75s + var(--i));
}

.searchWrap input {
  color: #000;
  border: 0;
  border-bottom: 2px dotted #02b4a9;
  border-radius: 0;
  outline: none;
  line-height: 24px;
  height: 30px;
  width: 400px;
  margin: 20px;
  padding: 5px;
  font-size: 24px;
  font-family: "CookieRun-Regular";
  background: rgba(0, 0, 0, 0);
}

.searchWrap input:focus {
  outline: none;
}

.searchWrap button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding-right: 15px;
}

.searchWrap button:hover ion-icon {
  color: #02b4a9;
}

/* MARKET */
.container {
  margin-top: 180px;
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.title {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.title h2 {
  font-size: 24px;
  text-align: center;
  font-family: "CookieRun-Regular";
  font-weight: 600;
  font-style: normal;
}

.category {
  display: flex;
  flex-direction: row;
}

.category a {
  font-family: "CookieRun-Regular";
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  margin: 0 3px;
  padding: 13px 13px;
  border: 1px solid #eee;
  color: #999;
  transition: all 0.2s ease-out;
}

.category a:hover {
  color: #02b4a9;
  border: 1px solid #02b4a9;
}

.books_wrapper {
  max-width: 1320px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 40px;
}

.book_card {
  position: relative;
  width: 300px;
  height: 450px;
  background: #bce6eb;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  overflow: hidden;
}

.book_card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}

.book_card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.book_card:hover .imgBx {
  top: 0%;
  transform: translateY(-15%) scale(80%);
}

.book_card .imgBx img {
  position: absolute;
  top: 47%;
  left: 50%;
  box-shadow: 5px 5px 5px gray;
  transform: translate(-50%, -50%);
  width: 200px;
  cursor: pointer;
}

.book_card .contentBx {
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 90;
}

.book_card:hover .contentBx {
  height: 200px;
}

.book_card .contentBx h2 {
  position: relative;
  font-weight: 600;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "CookieRun-Regular";
  color: black;
}

.book_card .contentBx .maker,
.book_card .contentBx .price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.book_card:hover .contentBx .maker {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.book_card:hover .contentBx .price {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.book_card .contentBx .maker h3,
.book_card .contentBx .price h3 {
  font-family: "CookieRun-Regular";
  color: black;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.book_card .contentBx a {
  display: inline-block;
  padding: 10px 10px;
  background: #fff;
  border-radius: 20px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.book_card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

.book_card:hover .contentBx a ion-icon {
  font-size: 20px;
}

.book_card:hover .contentBx a:hover ion-icon {
  color: #02b4a9;
}

.page_wrapper {
  width: 100%;
  margin-top: 40px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.page-item i {
  font-size: 10px;
  color: #939393;
}

.page-item a {
  font-size: 12px;
}

.page-item .page-select {
  font-weight: bold;
}
