@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orbit&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 99;
}

.header__contents {
  width: 100%;
  max-width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  margin-left: 20px;
  height: 80px;
  flex: 0.1;
  align-items: center;
}

.logo img {
  height: 60px;
}

.leftCategory {
  display: flex;
  flex-direction: row;
  flex: 0.8;
  margin-left: 70px;
  gap: 30px;
}

.leftCategory a {
  font-family: 'CookieRun-Regular';
  font-weight: bold;
  transition: all 0.2s ease-out;
  height: 30px;
}

.leftCategory a:hover {
  color: #02b4a9;
  transform: translateY(-5px);
}

.rightCategory {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 20px;
}

.rightCategory .iconBtn {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}

.rightCategory .iconBtn:hover ion-icon {
  color: #02b4a9;
}


.rightCategory ion-icon {
  font-size: 28px;
}

.menuToggle.active {
  color: #02b4a9;
}

.menu {
  position:absolute;
  width:30px;
  height:30px;
  background:#fff;
  border-radius:70px;
  bottom: 0px;
  z-index:-1;
  transition:transform 0.5s,width 0.5s,height 0.5s;
  transition-delay:1s,0.5s,0.5s;
}

.menuToggle.active ~ .menu {
  width: 240px;
  height: 70px;
  z-index: 2;
  transform: translateY(100px) translateX(-100px);
  transition-delay: 0s, 0.5s, 0.5s;
  box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}


.menu ul
{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:70px;
    gap:40px
}

.menu ul li
{
    list-style:none;
    cursor:pointer;
    opacity:0;
    visibility:hidden;
    transition:0.25s;
    transform:translateY(-30px);
    transition:0.25s;
    transition-delay:calc(0s + var(--i));
}

.menuToggle.active ~ .menu ul li 
{
    opacity:1;
    visibility:visible;
    transform:translateY(0px);
    transition-delay:calc(0.75s + var(--i));
}

.menu ul li a
{
    display:block;
    font-size:2em;
    text-decoration:none;
    color:#555;
}

.menu ul li:hover a
{
    color:#7be1e2;
}

.searchBtn.active ion-icon {
  color: #7be1e2;
}

.searchWrap {
  position:absolute;
  width:30px;
  height:30px;
  background:#fff;
  border-radius:70px;
  right: 0px;
  bottom: 0px;
  z-index:-1;
  transition:transform 0.5s,width 0.5s,height 0.5s;
  transition-delay:1s,0.5s,0.5s;
}

.searchBtn.active ~ .searchWrap{
  width: 450px;
  height: 60px;
  z-index: -1;
  transform: translateY(100px);
  transition-delay: 0s, 0.5s, 0.5s;
  box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.searchWrap form {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:60px;
}

.searchWrap form input ,
.searchWrap form button {
    opacity:0;
    visibility:hidden;
    transition:0.25s;
    transform:translateY(-30px);
    transition-delay:calc(0s + var(--i));
}

.searchBtn.active ~ .searchWrap form input,  
.searchBtn.active ~ .searchWrap form button {
  opacity:1;
  visibility:visible;
  transform:translateY(0px);
  transition-delay:calc(0.75s + var(--i));
}


.searchWrap input {
  color: #000;
  border: 0;
  border-bottom: 2px dotted #02b4a9;
  border-radius: 0;
  outline: none;
  line-height: 24px;
  height: 30px;
  width: 400px;
  margin: 20px;
  padding: 5px;
  font-size: 24px;
  font-family: 'CookieRun-Regular';
  background: rgba(0, 0, 0, 0);
}

.searchWrap input:focus {
  outline: none;
}

.searchWrap button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding-right: 15px;
}

.searchWrap button:hover ion-icon {
  color: #02b4a9;
}


/* Banner */
.mainBanner {
  margin-top: 80px;
  width: 100vw;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.carousel_wrapper {
  display: flex;
  transition: transform 1s;
}

.carousel_slide {
  flex: 0 0 100%;
  position: relative;
}

.carousel_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-button-prev,
.swiper-button-next {
  color: white;
  padding: 0 60px ;
}

.swiper-pagination {
  --swiper-pagination-color: #7be1e2;
}

/* Books Test */
.books_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  position: relative;
}

.books_container .title {
  margin-bottom: 50px;
}

.books_container .title h2 {
  color: #02b4a9;
  font-family: 'CookieRun-Regular';
  font-weight: 600;
  font-style: normal;
}


.books__swiper {
  margin: initial;
}

.books__images {
  display: grid;
  width: 900px;
  
}

.books__article,
.books_img {
  width: 220px;
  transition: scale .4s;
}

.books__article {
  scale: .7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.books_img {
  width: 100%;
  margin-bottom: 14px;
  box-shadow: 10px 5px 5px #aaa;
}



.book_title, .book_price {
  font-family: 'CookieRun-Regular';
  font-weight: 500;
  opacity: 0;
  transition: opacity .3s;
}

.book_title {
  margin-bottom: 10px;
}


.swiper-slide-active,
.swiper-slide-duplicate-active {
  scale: 1;
}

.swiper-slide-active :is(.book_title, .book_price) {
  opacity: 1;
}

.more {
  margin-top: 40px;
  margin-bottom: 60px;
}

.more button {
  font-family: 'CookieRun-Regular';
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.more button::after {
  content: "";
  background-color: #7be1e2;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 5px;
}

.more button:hover::after {
  top: 0px;
  left: 0px;
}